#exportPattern("^[[:alpha:]]+")
export('evaluate_deconvolution')
export('DRRSD')
export("get_random_proportions")
export("get_cluster_proportions")
export("calculate_cluster_tree")
export("validate_absolute_cell_error")
export("get_least_optimal_resolution")
export("get_optimal_resolution")
export("calculate_absolute_cell_error")
export('PlotDRRSD')
import("Seurat")
import("Metrics")
import("reticulate")
import("MuSiC")
import("Biobase")
import("gtools")
